.main {
  background: #1e0972;
}

.main-links {
  padding-top: 24px;
  padding-bottom: 64px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160.9%;
  /* or 39px */
  color: #ffffff;
  opacity: 0.6;
}

.main-links__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160.9%;
  /* or 39px */
  color: #ffffff;
  opacity: 0.6;
}

.abus-face {
  padding-bottom: 110px;
}

.abus-face__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100.9%;
  /* or 65px */
  color: #ffffff;
}

.abus-face__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abus-face__row_content {
  margin-left: 60px;
  max-width: 659px;
}

.abus-face__row_img {
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}

.abus-face__content_title {
  margin-top: 76px;
  margin-bottom: 36px;
}

.abus-face__content_title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 100.9%;
  /* or 81px */
  color: #ffffff;
}

.abus-face__content_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160.9%;
  /* or 29px */
  color: #ffffff;
}

.abus-face__content_text p:first-child {
  margin-bottom: 20px;
}

.abus-face__content_text p:last-child {
  margin-top: 20px;
}

.abus-face__content_text ul {
  margin-left: 40px;
}

.abus-face__content_text ul li {
  list-style-type: circle;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160.9%;
  /* or 29px */
  color: #ffffff;
}

.ab-face__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abus-img_first {
  position: absolute;
  -webkit-animation: ab-us1 5s infinite ease alternate;
  animation: ab-us1 5s infinite ease alternate;
}

.abus-img_second {
  position: absolute;
  -webkit-animation: ab-us2 3s infinite ease alternate;
  animation: ab-us2 3s infinite ease alternate;
}

.abus-img_three {
  position: absolute;
  -webkit-animation: ab-us3 5s infinite ease alternate;
  animation: ab-us3 5s infinite ease alternate;
}

.abus-img_four {
  position: absolute;
  -webkit-animation: ab-us4 2s infinite ease alternate;
  animation: ab-us4 2s infinite ease alternate;
}

.abus-img_five {
  position: absolute;
  -webkit-animation: ab-us5 2s infinite ease alternate;
  animation: ab-us5 2s infinite ease alternate;
}

@-webkit-keyframes ab-us1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes ab-us1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes ab-us2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes ab-us2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes ab-us3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes ab-us3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes ab-us4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes ab-us4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes ab-us5 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes ab-us5 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media (min-width: 320px) and (max-width: 575.2px) {
  .main-links {
    padding-top: 13px;
    padding-bottom: 27px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160.9%;
    /* or 39px */
    color: #ffffff;
    opacity: 0.6;
  }

  .main-links__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160.9%;
    /* or 39px */
    color: #ffffff;
    opacity: 0.6;
  }

  .abus-face {
    padding-bottom: 350px;
  }

  .abus-face__title h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100.9%;
    /* or 24px */
    color: #ffffff;
  }

  .abus-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-face__row_content {
    margin-left: 0px;
    max-width: 659px;
  }

  .abus-face__row_img {
    margin-left: 0px;
    margin-top: 50px;
    position: relative;
  }

  .abus-face__content_title {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .abus-face__content_title h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100.9%;
    /* or 40px */
    color: #ffffff;
  }

  .abus-face__content_text p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160.9%;
    /* or 26px */
    color: #ffffff;
  }

  .abus-face__content_text p:first-child {
    margin-bottom: 20px;
  }

  .abus-face__content_text p:last-child {
    margin-top: 20px;
  }

  .abus-face__content_text ul {
    margin-left: 40px;
  }

  .abus-face__content_text ul li {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160.9%;
    /* or 26px */
    color: #ffffff;
  }

  .ab-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-img_first {
    position: absolute;
    -webkit-animation: ab-us1 5s infinite ease alternate;
    animation: ab-us1 5s infinite ease alternate;
  }

  .abus-img_first img {
    max-width: 270px;
  }

  .abus-img_second {
    position: absolute;
    -webkit-animation: ab-us2 3s infinite ease alternate;
    animation: ab-us2 3s infinite ease alternate;
  }

  .abus-img_second img {
    max-width: 270px;
  }

  .abus-img_three {
    position: absolute;
    -webkit-animation: ab-us3 5s infinite ease alternate;
    animation: ab-us3 5s infinite ease alternate;
  }

  .abus-img_three img {
    max-width: 270px;
  }

  .abus-img_four {
    position: absolute;
    -webkit-animation: ab-us4 2s infinite ease alternate;
    animation: ab-us4 2s infinite ease alternate;
  }

  .abus-img_four img {
    max-width: 270px;
  }

  .abus-img_five {
    position: absolute;
    -webkit-animation: ab-us5 2s infinite ease alternate;
    animation: ab-us5 2s infinite ease alternate;
  }

  .abus-img_five img {
    max-width: 270px;
  }
}

@media (min-width: 576px) and (max-width: 772px) {
  .main-links {
    padding-top: 13px;
    padding-bottom: 27px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160.9%;
    /* or 39px */
    color: #ffffff;
    opacity: 0.6;
  }

  .main-links__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160.9%;
    /* or 39px */
    color: #ffffff;
    opacity: 0.6;
  }

  .abus-face {
    padding-bottom: 450px;
  }

  .abus-face__title h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100.9%;
    /* or 24px */
    color: #ffffff;
  }

  .abus-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-face__row_content {
    margin-left: 0px;
    max-width: 659px;
  }

  .abus-face__row_img {
    margin-left: 0px;
    margin-top: 50px;
    position: relative;
  }

  .abus-face__content_title {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .abus-face__content_title h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100.9%;
    /* or 40px */
    color: #ffffff;
  }

  .abus-face__content_text p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160.9%;
    /* or 26px */
    color: #ffffff;
  }

  .abus-face__content_text p:first-child {
    margin-bottom: 20px;
  }

  .abus-face__content_text p:last-child {
    margin-top: 20px;
  }

  .abus-face__content_text ul {
    margin-left: 40px;
  }

  .abus-face__content_text ul li {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160.9%;
    /* or 26px */
    color: #ffffff;
  }

  .ab-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-img_first {
    position: absolute;
    -webkit-animation: ab-us1 5s infinite ease alternate;
    animation: ab-us1 5s infinite ease alternate;
  }

  .abus-img_first img {
    max-width: 450px;
  }

  .abus-img_second {
    position: absolute;
    -webkit-animation: ab-us2 3s infinite ease alternate;
    animation: ab-us2 3s infinite ease alternate;
  }

  .abus-img_second img {
    max-width: 450px;
  }

  .abus-img_three {
    position: absolute;
    -webkit-animation: ab-us3 5s infinite ease alternate;
    animation: ab-us3 5s infinite ease alternate;
  }

  .abus-img_three img {
    max-width: 450px;
  }

  .abus-img_four {
    position: absolute;
    -webkit-animation: ab-us4 2s infinite ease alternate;
    animation: ab-us4 2s infinite ease alternate;
  }

  .abus-img_four img {
    max-width: 450px;
  }

  .abus-img_five {
    position: absolute;
    -webkit-animation: ab-us5 2s infinite ease alternate;
    animation: ab-us5 2s infinite ease alternate;
  }

  .abus-img_five img {
    max-width: 450px;
  }
}

@media (min-width: 773px) and (max-width: 992px) {
  .abus-face {
    padding-bottom: 650px;
  }

  .abus-face__title h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100.9%;
    /* or 65px */
    color: #ffffff;
  }

  .abus-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-face__row_content {
    margin-left: 40px;
    max-width: 659px;
  }

  .abus-face__row_img {
    margin-left: 70px;
    margin-top: 50px;
    position: relative;
  }

  .abus-face__content_title {
    margin-top: 76px;
    margin-bottom: 36px;
  }

  .abus-face__content_title h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100.9%;
    /* or 81px */
    color: #ffffff;
  }

  .abus-face__content_text p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160.9%;
    /* or 29px */
    color: #ffffff;
  }

  .abus-face__content_text p:first-child {
    margin-bottom: 20px;
  }

  .abus-face__content_text p:last-child {
    margin-top: 20px;
  }

  .abus-face__content_text ul {
    margin-left: 40px;
  }

  .abus-face__content_text ul li {
    list-style-type: circle;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160.9%;
    /* or 29px */
    color: #ffffff;
  }

  .ab-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-img_first {
    position: absolute;
    -webkit-animation: ab-us1 5s infinite ease alternate;
    animation: ab-us1 5s infinite ease alternate;
  }

  .abus-img_second {
    position: absolute;
    -webkit-animation: ab-us2 3s infinite ease alternate;
    animation: ab-us2 3s infinite ease alternate;
  }

  .abus-img_three {
    position: absolute;
    -webkit-animation: ab-us3 5s infinite ease alternate;
    animation: ab-us3 5s infinite ease alternate;
  }

  .abus-img_four {
    position: absolute;
    -webkit-animation: ab-us4 2s infinite ease alternate;
    animation: ab-us4 2s infinite ease alternate;
  }

  .abus-img_five {
    position: absolute;
    -webkit-animation: ab-us5 2s infinite ease alternate;
    animation: ab-us5 2s infinite ease alternate;
  }
}

@media (min-width: 992px) and (max-width: 1465px) {
  .abus-face {
    padding-bottom: 650px;
  }

  .abus-face__title h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100.9%;
    /* or 65px */
    color: #ffffff;
  }

  .abus-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-face__row_content {
    margin-left: 40px;
    max-width: 659px;
  }

  .abus-face__row_img {
    margin-left: 70px;
    margin-top: 50px;
    position: relative;
  }

  .abus-face__content_title {
    margin-top: 76px;
    margin-bottom: 36px;
  }

  .abus-face__content_title h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100.9%;
    /* or 81px */
    color: #ffffff;
  }

  .abus-face__content_text p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160.9%;
    /* or 29px */
    color: #ffffff;
  }

  .abus-face__content_text p:first-child {
    margin-bottom: 20px;
  }

  .abus-face__content_text p:last-child {
    margin-top: 20px;
  }

  .abus-face__content_text ul {
    margin-left: 40px;
  }

  .abus-face__content_text ul li {
    list-style-type: circle;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160.9%;
    /* or 29px */
    color: #ffffff;
  }

  .ab-face__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .abus-img_first {
    position: absolute;
    -webkit-animation: ab-us1 5s infinite ease alternate;
    animation: ab-us1 5s infinite ease alternate;
  }

  .abus-img_second {
    position: absolute;
    -webkit-animation: ab-us2 3s infinite ease alternate;
    animation: ab-us2 3s infinite ease alternate;
  }

  .abus-img_three {
    position: absolute;
    -webkit-animation: ab-us3 5s infinite ease alternate;
    animation: ab-us3 5s infinite ease alternate;
  }

  .abus-img_four {
    position: absolute;
    -webkit-animation: ab-us4 2s infinite ease alternate;
    animation: ab-us4 2s infinite ease alternate;
  }

  .abus-img_five {
    position: absolute;
    -webkit-animation: ab-us5 2s infinite ease alternate;
    animation: ab-us5 2s infinite ease alternate;
  }
}