.main-links {
  padding-top: 24px;
  padding-bottom: 64px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.9%;
  /* or 26px */
  color: #000000;
  opacity: 0.6;
}

.main-links__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.9%;
  /* or 26px */
  color: #000000;
  opacity: 0.6;
}

.main__header {
  margin-bottom: 60px;
}
.main__header_title {
  margin-bottom: 32px;
}
.main__header_title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  /* or 77px */
  color: #000000;
}
.main__header_discription {
  max-width: 835px;
}
.main__header_discription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160.4%;
  /* or 32px */
  color: #000000;
}

.form__checkbox {
  display: flex;
}

.usl {
  display: flex;
  flex-direction: column;
}
.usl label {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* or 34px */
  margin-bottom: 28px;
  color: #000000;
}
.usl__header {
  margin-bottom: 40px;
}
.usl__header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.budj {
  margin-left: 202px;
  display: flex;
  flex-direction: column;
}
.budj label {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* or 34px */
  margin-bottom: 28px;
  color: #000000;
}
.budj__header {
  margin-bottom: 40px;
}
.budj__header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.form__cont {
  display: flex;
  justify-content: space-between;
}
.form__cont_req {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-inp label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.name-inp label input {
  margin-top: 25px;
  margin-bottom: 31px;
  width: 529px;
  background: #ffffff;
  border: 3px solid #aaaaaa;
  border-radius: 15px;
  padding: 31px 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #b6b6b6;
}

.phone-inp label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.phone-inp label input {
  margin-top: 25px;
  margin-bottom: 31px;
  width: 529px;
  background: #ffffff;
  border: 3px solid #aaaaaa;
  border-radius: 15px;
  padding: 31px 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #b6b6b6;
}

.email-inp label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.email-inp label input {
  margin-top: 25px;
  width: 529px;
  background: #ffffff;
  border: 3px solid #aaaaaa;
  border-radius: 15px;
  padding: 31px 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #b6b6b6;
}

.company-inp label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-bottom: 71px;
}
.company-inp label textarea {
  width: 729px;
  height: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #b6b6b6;
  padding: 25px;
  resize: none;
  margin-top: 25px;
  background: #ffffff;
  border: 3px solid #aaaaaa;
  border-radius: 15px;
}

.zadacha-inp label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.zadacha-inp label textarea {
  width: 729px;
  height: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #b6b6b6;
  padding: 25px;
  resize: none;
  margin-top: 25px;
  background: #ffffff;
  border: 3px solid #aaaaaa;
  border-radius: 15px;
}

.rq {
  margin-top: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120.5%;
  /* or 29px */
  letter-spacing: -0.04em;
  width: 551px;
}

form button {
  margin-top: 20px;
  margin-bottom: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;
  background: #5e25c8;
  border-radius: 105px;
  padding: 25px 90px;
  border: none;
  color: #ffffff;
}